body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  text-align: center;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 60px 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: black;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

footer {
  margin-top: 50px;
  padding: 20px;
  background: #111;
  color: white;
}

input, select, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}
